@model IEnumerable<string>


@foreach (string driveInterface in Model)
{
    <a class="btn btn-block
       @(driveInterface == ViewBag.SelectedDriveInterface ? "btn-primary" : "btn-default")"
       asp-action="List"
       asp-controller="Drive"
       asp-route-driveInterface="@driveInterface"
       asp-route-page="1">@driveInterface
    </a>
}