<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PC Hardware</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">PC BUILDER</a>

        <div class="pull-right">
            @await Component.InvokeAsync("CartSummary")
        </div>
    </div>

    <div class="row panel">
        <div id="categories" class="col-xs-3 dropdown show">
            <a class="btn btn-default btn-block dropdown-toggle" href="/Computer">Computers</a><br />
            <div class="dropdown">
                <button type="button" class="btn btn-default btn-block dropdown-toggle" id="dropDownMenu1" data-toggle="dropdown">Drives <span class="caret"></span></button>
                <ul id="interfaceFilter" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                    @await Component.InvokeAsync("NavigationMenu")
                </ul>
            </div>
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>